@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');


body{
    line-height: 1.5;
    font-family: 'Poppins', sans-serif;
}

 *{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    font-family: "Poppins", sans-serif;
}    
    

header{
    z-index: 999;
    position:fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items:center;
    padding: 15px 100px;
    transition: 0.5s ease;
    background-size: cover;
    background-attachment: fixed;
}


header.sticky{
    padding: 5px 100px;
    background: #fff;
    }

header.sticky a{
    color:#000;
}


.Brand{
    color: #fff;
    font-size: 2em;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none; 
    transition: 0.6s;
}



.navigation{
    position: relative;
    width: 70%;
}


.navigation-items a{
    position: relative;
    color:#fff;
    font-size: 1em;
    margin: 20px;
    font-weight: 500;
    text-decoration: none;
    margin-left: 30px;
    transition: 0.3s ease;
}


.navigation-items a:hover{
    color:yellow;
}


.navigation-items a:before{
    content: '';
    position: absolute;
    background: #fff;
    width: 0;
    height: 3px;
    bottom: 0;
    left: 0;
    transition: 0.3s ease;
}



.home{
    position: relative;
    width: 100%;
    min-height: 95vh;
    display: flex;
    justify-content:center;
    flex-direction: column;
    background:#2696e9;
    padding: 15px 100px;
}


.content{
    z-index: 888;
    color: #fff;
    width: 70%;
    margin-top: 50px;
    
}


.content h1{
    font-size: 4.5em;
    font-weight: 800;
    text-transform: ;
    font-family: fairplay display;
    margin-bottom:20px;
}

.content h1 span{
    font-size: 1em;
    font-weight: 600;
    font-family: fairplay display;
}



.content p{
    margin-bottom: 40px;
}


.home img{
    z-index: 000;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.home:before{
    z-index: 777;
    content: '';
    position: absolute;
    background: rgba();
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}



.accordion{
    margin-top: 50px;
    max-width: 1180px;
    display: flex;
    background:;
    margin-left: 50px;
}

.label h1{
    font-family: fairplay display;
    font-size: 1em;
}


.accordion .contentBx{
    position: relative;
    margin: 10px 20px;
}


.accordion .contentBx .label{
    position: relative;
    padding: 10px;
    background: #2694af;
    color: #fff;
    cursor: pointer;
}


.accordion .contentBx .label::before{
    content: '+';
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    font-size: 1.5em;
}


.accordion .contentBx.active .label::before{
    content: '-';
}


.accordion .contentBx .contents{
    position: relative;
    background: #fff;
    height: 0;
    overflow: hidden;
    transition: 0.5s;
    overflow-y: auto;
}


.accordion .contentBx.active .contents{
    height: 400px;
    padding: 10px;
}
















ul{
    list-style: none;
    
}


.footer{
    background-color: #24262b;
    padding: 70px 0;
    margin-top: 150px;
}

.footer-col{
    width: 20%;
    padding: 0 28px;
}

.footer-col h4{
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
    
}


.footer-col h4::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #e91e63;
    height: 2px;
    box-sizing: border-box;
    width: 50px;  
}

.footer-col ul li:not(:last-child){
    margin-bottom: 10px;
}


.footer-col ul li a{
    font-size: 16px;
    text-transform: capitalize;
    color: white;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;
}


.footer-col ul li a:hover{
    color: white;
    padding-left:8px;
}


.footer-col .social-links a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255,255,255,0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: white;
    transition: all 0.5s ease;
}



.footer-col .social-links a:hover{
    color: #24262b;
    background-color: white;
    
}


.container{
    max-width: 1170px;
    background-color:;
    margin: auto;
}


.row{
    display: flex;
    flex-wrap: wrap;
}



@media(max-width: 767px){
    .footer-col{
        width: 50%;
        margin-bottom: 30px;
    }
}



@media(max-width: 574px){
    .footer-col{
        width: 100%;
    }
}











